POSTGRES_USER=test.test@email.com
POSTGRES_PASSWORD=StrongPassword123!
POSTGRES_DB=db-name
POSTGRES_PORT=5433

PGADMIN_DEFAULT_EMAIL=test.test@email.com
PGADMIN_DEFAULT_PASSWORD=StrongPassword123!
PGADMIN_PORT=5051

REDIS_PASSWORD=StrongPassword123!
REDIS_PORT=6380
